/* .outer{
    background: linear-gradient(to bottom,white, black);
    height: 100vh;
    background-size: cover;
} */

.table-bordered{
            
    margin-left: 50px;
    margin-right: 50px;
    /* padding-left: 50px; */
    color:white;
}