<div class="container-outer p-5 ">
    <div class="container m-3">
        <div class="row d-flex flex-row justify-content-center">
            <div class="mb-3 card col-12 ">
                <div>
                    <h1 class="heading">Signup</h1>
                
                    <form  (ngSubmit)="onSubmit()">
                        <div class="mb-3 form-group">
                            <a class="fa fa-user mr-3" ></a>
                        <input type="text" placeholder="First Name" class="form-control" name="firstname" [(ngModel)]= "signup.firstname"   id="firstname" required>
                        </div>

                        <div class="mb-3 form-group">
                            <a class="fa fa-user mr-3" ></a>
                        <input type="text" placeholder="Last Name"   class="form-control" name="lastname" [(ngModel)]= "signup.lastname"  id="lastname" required>
                        </div>

                        <!-- <div class="mb-3 form-group">
                            <a class="fa fa-envelope mr-3" ></a>
                        <input type="text" placeholder="Email"  class="form-control"  name="email" ngModel required>
                        </div> -->

                        <div class="mb-3 form-group">
                            <a class="fa fa-user mr-3 " ></a>
                        <input type="text" placeholder="Username as Email" class="form-control" name="username" [(ngModel)]= "signup.username" id="username" required>
                        </div>

                        <div class="mb-1 form-group">
                            <a class="fa fa-lock mr-3 " ></a>
                            <input type="password" placeholder="Password" class="form-control"  name="password"  [(ngModel)]= "signup.password" id="password" required>
                        </div>

                        <a class="forget">Forget Password?</a>                       
                    
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary"  >Signup</button>
                    </div>
                    
                </form>
                    <p class="para" >Already have a account?
                        <a routerLink="/login">Login</a>
                    </p>
                </div>
                
            </div>
            
        </div>
    </div>
</div>
