<div class="outer mt-5 p-5"  >
<h3> View Car details   </h3>
<div class="mt-5" >
    <div>
        <label> <b> Car Name :   </b> </label> {{car.carname}}
    </div>

    <div>
        <label> <b> Company :   </b> </label> {{car.company}}
    </div>

    <div>
        <label> <b> Fuel Type :   </b> </label> {{car.fueltype}}
    </div>

    <div>
        <label> <b>  Price :   </b> </label> {{car.price}}
    </div>

    <div>
        <label> <b> Mileage :   </b> </label> {{car.mileage}}
    </div>
    <button class="btn btn-dark btn-lg active" role="button" aria-pressed="true" routerLink="/cars" > back </button>
</div>

</div>
